/*======= RESET =======*/
* {margin: 0; padding: 0; font-size: 100%; border: none; outline: none; font-weight: 300; box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif }
a{text-decoration: none;}
ul{list-style: none;}
img{max-width: 100%;}
body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background:white;
  background-image: url(../img/Futebol-.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size:cover;
  background-attachment: fixed;
  
}
/*======= LOGOTIPO =======*/
.logo {
  margin-top: 40px;
  text-align: center;
  
}
/*======= RODAPE =======*/
.rodape {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  width:100%;
  bottom:20px;
  border-bottom:  2.5px solid white;
  position: fixed;
  padding: 10px;
}
  
.rodape li {
  list-style: none;
  display: inline-block;
  padding: 3px;
  position: relative;
  top: 5px;
}
.rodape li:hover{
  transform: scale(1.05);
}  
.rodape p{
  color: white;
  position: relative;
  left:5px;
  width: 80px;
  display: inline-block;
  text-transform: uppercase;
}

/*======= BREAKPOINTS =======*/



  

 