body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background:white;
  background-image: url(../imagens/Futebol-.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size:cover;
  background-attachment: fixed;
  
}

.logo {
  margin-top: 40px;
  text-align: center;
  
}

.cabecalho {
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  width:100%;
  bottom:15px;
  border-bottom:  2.5px solid white;
  position: fixed;
}
  
.cabecalho li {
  list-style: none;
  display: inline-block;
  padding: 2px;
  position: relative;
  top: 15px;
  left: -40px;
}

.cabecalho p{
  color: white;
  position: relative;
  left: -40px;
  top: 10px;
  width: 80px;
  display: inline-block;
  text-transform: uppercase;
  }
